body {
    font-family: 'Noto Sans', sans-serif;
}

.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}
h1 {
    text-align: center;
    background: cyan;
    background-image:image();
}

